nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0px 3rem;
  background-color: white;
  margin: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav-link button {
  width: 100px;
  height: 50px;
  background-color: greenyellow;
  border: none;
}

.nav-link a {
  text-decoration: none;
}

body {
  background: grey;
  margin: 0px;
}

.body {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 100px;
  position: absolute;
  top: 30%;
}

.satu {
  height: 300px;
  width: 300px;
  background-color: red;
}

.dua {
  height: 300px;
  width: 300px;
  background-color: green;
}

.tiga {
  height: 300px;
  width: 300px;
  background-color: blue;
}
